@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --ff-figtree: "Figtree";
  --fw-medium: 500;
  --fw-extrabold: 800;
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray-500: hsl(0, 0%, 42%);
  --clr-gray-950: hsl(0, 0%, 7%);
  --shadow-box: 8px 8px 0 0 #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: var(--ff-figtree), sans-serif;
  font-weight: var(--fw-medium);
  line-height: 1.5;
  min-height: 100vh;
  color: var(--clr-gray-500);
  background-color: var(--clr-yellow);
}

.card {
  width: 38.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
  border-radius: 2rem;
  background-color: var(--clr-white);
  box-shadow: var(--shadow-box);
}

.card__img {
  width: 100%;
  border-radius: 1rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card__category {
  display: inline-block;
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: var(--fw-extrabold);
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
  color: var(--clr-gray-950);
  background-color: var(--clr-yellow);
}

.card__published-date {
  font-size: 1.4rem;
  color: var(--clr-gray-950);
}

.card__title {
  font-size: 2.4rem;
  font-weight: var(--fw-extrabold);
}

.card__title a:link,
.card__title a:visited {
  text-decoration: none;
  color: var(--clr-gray-950);
  transition: color 0.3s;
}

.card__title a:hover,
.card__title a:active {
  color: var(--clr-yellow);
}

.card__author {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.card__author-img {
  width: 3.2rem;
  height: 3.2rem;
}

.card__author-name {
  font-size: 1.4rem;
  font-weight: var(--fw-extrabold);
  color: var(--clr-gray-950);
}

/* max-width = 375px */
@media (max-width: 23.4375em) {
  .card {
    width: 32.7rem;
  }

  .card__category,
  .card__published-date {
    font-size: 1.2rem;
  }

  .card__title {
    font-size: 2rem;
  }

  .card__description {
    font-size: 1.4rem;
  }
}
